@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* NAVBAR */
  .shrink-navbar {
    @apply bg-black h-16 !important;
  }

  /* LINK */
  .link {
    @apply after:absolute after:w-full after:h-[3px] after:duration-500 after:will-change-transform  after:left-0 after:top-full after:origin-center;
  }
  .active-link {
    @apply text-red-600 after:scale-100 after:opacity-100 after:bg-red-600;
  }
  .non-active-link {
    @apply after:scale-0 after:opacity-0 after:bg-transparent;
  }

  /* BUTTON */
  .btn {
    @apply rounded-md px-4 py-2 transition-all duration-200;
  }
  .btn:focus {
    @apply shadow-[0px_0px_4px];
  }

  .btn:hover {
    @apply shadow-[0px_0px_8px];
  }
  .btn-primary {
    @apply bg-red-600 text-white;
  }
  .btn-primary:focus,
  .btn-primary:hover {
    @apply shadow-[0px_0px_8px_red];
  }
  .btn-outline-primary {
    @apply border-2 border-red-600 text-red-600;
  }
  .btn-outline-white {
    @apply border-2 border-white text-white;
  }

  /* TRANSITION */
  .slideDown-begin {
    @apply duration-[1.3s] will-change-transform -translate-y-24 opacity-0;
  }
  .slideDown-end {
    @apply translate-y-0 opacity-100 !important;
  }
  .scaleUp-begin {
    @apply duration-[1.3s] will-change-transform scale-0 opacity-0;
  }
  .scaleUp-end {
    @apply scale-100 opacity-100;
  }

  /* SWIPER */
  .swiper-banner-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 0.5 !important;
    background-color: white !important;
  }
  .bg-red-700 {
    background-color: rgb(153, 27, 27) !important;
    opacity: 1 !important;
  }
  @media screen and (min-width: 768px) {
    .swiper-banner-bullet {
      width: 16px !important;
      height: 16px !important;
      opacity: 0.5 !important;
      background-color: white !important;
    }
  }
}

body {
  margin: 0;
  font-family: "Lato", sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
